h1, h2 {
    color: green;
    text-align: center;
}

.image-container {
    text-align: center;
}

body {
    background-color: rgb(224, 191, 151);
    font-size: larger;
}

div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: bisque;
}

.brown-paragraphs {
    color: rgb(73, 47, 35);
    font-weight: bold;
}

.bordered-paragraph {
    border: 1px solid black;
    padding: 20px;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 239, 11);
    display: flex;
    justify-content: center;
}

.top-nav li {
    margin: 0 15px;
}

.top-nav a {
    display: block;
    color: green;
    text-decoration: none;
    padding: 15px 0;
}

.top-nav a:hover {
    text-decoration: underline;
}